
bin/Debug/AsyncClientLib.dll
bin/Debug/AsyncClientLib.pdb
bin/Debug/AsyncServerLib.dll
bin/Debug/AsyncServerLib.pdb
bin/Debug/Soxkets.exe
bin/Debug/Soxkets.exe.config
bin/Debug/Soxkets.pdb
obj/Release/Soxkets.pdb
obj/Release/Soxkets.exe
obj/Release/Soxkets.csproj.AssemblyReference.cache
bin/Release/Soxkets.pdb
bin/Release/Soxkets.exe.config
bin/Release/Soxkets.exe
bin/Release/AsyncServerLib.pdb
bin/Release/AsyncServerLib.dll
bin/Release/AsyncClientLib.pdb
bin/Release/AsyncClientLib.dll
obj/Release/Soxkets.csproj.AssemblyReference.cache
obj/Release/Soxkets.exe
obj/Release/Soxkets.pdb
obj/Release/Soxkets.exe
obj/Release/Soxkets.pdb
obj/Release/Soxkets.exe
obj/Release/Soxkets.csproj.AssemblyReference.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/App.g.cs
obj/Release/App.g.i.cs
obj/Release/ClientPage.baml
obj/Release/ClientPage.g.cs
obj/Release/ClientPage.g.i.cs
obj/Release/MainWindow.baml
obj/Release/MainWindow.g.cs
obj/Release/MainWindow.g.i.cs
obj/Release/ServerPage.baml
obj/Release/ServerPage.g.cs
obj/Release/ServerPage.g.i.cs
obj/Release/Soxkets.csproj.CopyComplete
obj/Release/Soxkets.csproj.CoreCompileInputs.cache
obj/Release/Soxkets.csproj.FileListAbsolute.txt
obj/Release/Soxkets.csproj.GenerateResource.cache
obj/Release/Soxkets.g.resources
obj/Release/Soxkets.Properties.Resources.resources
obj/Release/Soxkets_MarkupCompile.cache
obj/Release/Soxkets_MarkupCompile.lref
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/ClientPage.baml
obj/Debug/ClientPage.g.cs
obj/Debug/ClientPage.g.i.cs
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/ServerPage.baml
obj/Debug/ServerPage.g.cs
obj/Debug/ServerPage.g.i.cs
obj/Debug/Soxkets.csproj.CopyComplete
obj/Debug/Soxkets.csproj.CoreCompileInputs.cache
obj/Debug/Soxkets.csproj.FileListAbsolute.txt
obj/Debug/Soxkets.csproj.GenerateResource.cache
obj/Debug/Soxkets.exe
obj/Debug/Soxkets.g.resources
obj/Debug/Soxkets.pdb
obj/Debug/Soxkets.Properties.Resources.resources
obj/Debug/Soxkets_MarkupCompile.cache
obj/Debug/Soxkets_MarkupCompile.lref
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
